
<div class="main_page d-flex">
    <div class="content1 d-flex">
        <div class="content">
            <h2 class="main_page_title">Уже более 13 лет увеличиваем<br>
                доходы наших клиентов</h2>
            <p class="main_page_description">Автоматизируем бизнес-процессы,<br>
                повышаем лояльность ваших заказчиков</p>
        </div>
        <!-- <div class="img">
            <img src="./img/circle-phone.png" width="100"/>
        </div> -->
    </div>
    <div class="content2">
        <div class="content2_post d-flex">
            <p>Интервью для <br>
                телеканала «Хабар»</p>
            <div>
                <img src="./img/habar.png" alt="">
            </div>
        </div>
        <div class="content2_post d-flex">
            <p>Журнал «Forbes» <br>
                о компании</p>
            <div>
                <img src="./img/forbes.png" alt="">
            </div>
        </div>
        <div class="absolute-content">
            <img src="./img/quote.png" alt="">
            <p>Мы прошли путь <br>
                от маленькой web-студии <br>
                до большой компании</p>
        </div>
    </div>
</div>