
<div class="main_page d-flex ">
    <div class="content1 d-flex">
        <div class="content">
            <h2 class="main_page_title">Кейсы</h2>
            <p class="main_page_description">Мы берем ответственность не только за разработку,<br>
                но и за продвижение приложения</p>
        </div>
        <!-- <div class="img">
            <img src="./img/circle-phone.png" width="100"/>
        </div> -->
    </div>
    <div class="content2">
        <div class="content2_imageContainer d-flex">
            <div class="content2_imageContainer_row d-flex">
                <div class="image">
                    <img src="https://images.pexels.com/photos/1578252/pexels-photo-1578252.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
                <div class="image">
                    <img src="https://images.pexels.com/photos/3111251/pexels-photo-3111251.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
                <div class="image">
                    <img src="https://images.pexels.com/photos/5689042/pexels-photo-5689042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
                <div class="image">
                    <img src="https://images.pexels.com/photos/4408555/pexels-photo-4408555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
            </div>
            <div class="content2_imageContainer_row d-flex">
                <div class="image">
                    <img src="https://images.pexels.com/photos/4627741/pexels-photo-4627741.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
                <div class="image">
                    <img src="https://images.pexels.com/photos/2029267/pexels-photo-2029267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
                <div>
                    <img src="https://images.pexels.com/photos/5985181/pexels-photo-5985181.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
            </div>
            <div class="content2_imageContainer_row d-flex">
                <div class="image">
                    <img src="https://images.pexels.com/photos/4627741/pexels-photo-4627741.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
                <div class="image">
                    <img src="https://images.pexels.com/photos/2029267/pexels-photo-2029267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
                <div class="image">
                    <img src="https://images.pexels.com/photos/5607845/pexels-photo-5607845.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="" height="400" width="260" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>