
<div class="main_page d-flex">
    <div class="content1 d-flex">
        <div class="content">
            <h2 class="main_page_title">Контакты</h2>
            <p class="main_page_description">
                Оставьте заявку на разработку, и наши менеджеры<br>
                свяжутся с Вами в течение 5 минут
            </p>
        </div>
        <!-- <div class="img">
            <img src="./img/circle-phone.png" width="100"/>
        </div> -->
    </div>
    <div class="content2">
        <div class="content2_inner d-flex">
            <form action="" class="form">
                <p>
                    <input type="text" name="text" id="name" placeholder="Ваше имя">
                </p>
                <p>
                    <input type="phone" name="phone" id="phone" placeholder="Телефон">
                </p>
                <p>
                    <textarea name="textarea" placeholder="Коментарий" id="textarea" cols="30" rows="10"></textarea>
                </p>
                <p>
                    <input type="submit" id="button" value="Отправить">
                </p>
                <p class="info">Нажимая на кнопку <br>
                    вы соглашаетесь на обработку<br>
                    персональных данных</p>
            </form>
            <div class="content2_inner_information d-flex">
                <div class="inner d-flex">
                    <p>Директор</p>
                    <p>Иван Калита</p>
                </div>
                <div class="inner d-flex">
                    <p>Основной</p>
                    <p>+7 727 296 03 59</p>
                </div>
                <div class="inner d-flex">
                    <p>Запасной</p>
                    <p>+7 705 766 54 44</p>
                </div>
                <div class="inner d-flex">
                    <p>Эл. почта</p>
                    <p>info@zoomapps.kz</p>
                </div>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11627.147718420398!2d76.87486011977539!3d43.23492675000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883690422d6bcb3%3A0xe8d198b00e864c6a!2sZhk%20Akvarel&#39;!5e0!3m2!1sen!2skz!4v1608547434804!5m2!1sen!2skz" width="600" height="450" frameborder="0" style="border:0;position: fixed;right: 0;height: 100%;top: 0" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
    </div>
</div>