
<div class="main_page d-flex">
    <div class="content1 d-flex">
        <div class="content">
            <h2 class="main_page_title">Профессиональный разработчик
                мобильных приложений</h2>
            <p class="main_page_description">Cоздаем мобильные решения, которыми ежедневно <br>
                пользуются десятки миллионов людей</p>
        </div>
        <div class="img">
            <img src="./img/circle-phone.png" width="100"/>
        </div>
    </div>
    <div class="content2">
        <div class="content2_containers d-flex">
            <div class="content2_containers_card card1 d-flex">
                <div class="button">
                    <img src="./img/buttonShow.svg" alt="">
                </div>
                <p>Показать все проекты</p>
            </div>
            <div class="content2_containers_card">
                <img src="./img/card3.png" alt="" height="100%" style="object-fit: cover;" width="350">
            </div>
            <div class="content2_containers_card">
                <img src="./img/card1.png" alt="" height="100%" style="object-fit: contain;" width="230">
            </div>
            <div class="content2_containers_card">
                <img src="./img/card2.png" alt="" height="100%" style="object-fit: contain;" width="230">
            </div>

        </div>
    </div>
</div>