
<div class="main_page d-flex">
    <div class="content1 d-flex">
        <div class="content">
            <h2 class="main_page_title">Этапы разработки <br>
                мобильных приложений</h2>
            <p class="main_page_description">Процесс непростой и очень трудоемкий,<br>
                представляющий из себя полноценную разработку ПО</p>
        </div>
        <!-- <div class="img">
            <img src="./img/circle-phone.png" width="100"/>
        </div> -->
    </div>
    <div class="content2 hideOverflow">
        <div class="content2_container">
            <div class="content2_cards">
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        <div class="counter d-flex">
                            <span>01</span><span>/10</span>
                        </div>
                        <div class="image d-flex">
                            <!-- <img src="./img/card3.png" alt=""> -->
                        </div>
                    </div>
                    <div class="text">
                        <div class="title">
                            <span>Создание <br>
                                технического задания</span>
                        </div>
                        <div class="description">
                            <span>Составляем подробное <br>
                                описание функционала <br>
                                приложения</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards" >
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        
                        <div class="counter d-flex">
                            <span>01</span><span>/10</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="title">
                            <span>Создание <br>
                                технического задания</span>
                        </div>
                        <div class="description">
                            <span>Составляем подробное <br>
                                описание функционала <br>
                                приложения</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards">
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        
                        <div class="counter d-flex">
                            <span>01</span><span>/10</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="title">
                            <span>Создание <br>
                                технического задания</span>
                        </div>
                        <div class="description">
                            <span>Составляем подробное <br>
                                описание функционала <br>
                                приложения</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards">
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        <div class="counter d-flex">
                            <span>02</span><span>/10</span>
                        </div>
                        <div class="image d-flex">
                            <!-- <img src="./img/card3.png" alt=""> -->
                        </div>
                    </div>
                    <div class="text">        
                        <div class="title">
                            <span>Проектирование <br>
                                UI/UX</span>
                        </div>
                        <div class="description">
                            <span>Отрабатываем функционал <br>
                                приложения и окончательно <br>
                                продумываем сценарий</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards" >
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        
                        <div class="counter d-flex">
                            <span>01</span><span>/10</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="title">
                            <span>Создание <br>
                                технического задания</span>
                        </div>
                        <div class="description">
                            <span>Составляем подробное <br>
                                описание функционала <br>
                                приложения</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards" >
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        
                        <div class="counter d-flex">
                            <span>01</span><span>/10</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="title">
                            <span>Создание <br>
                                технического задания</span>
                        </div>
                        <div class="description">
                            <span>Составляем подробное <br>
                                описание функционала <br>
                                приложения</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards">
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        <div class="counter d-flex">
                            <span>03</span><span>/10</span>
                        </div>
                       
                    </div>
                    <div class="text">
                        
                        <div class="title">
                            <span>Проектирование <br>
                                UI/UX</span>
                        </div>
                        <div class="description">
                            <span>Отрабатываем функционал <br>
                                приложения и окончательно <br>
                                продумываем сценарий</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards" >
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        
                        <div class="counter d-flex">
                            <span>01</span><span>/10</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="title">
                            <span>Создание <br>
                                технического задания</span>
                        </div>
                        <div class="description">
                            <span>Составляем подробное <br>
                                описание функционала <br>
                                приложения</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content2_cards" >
                <div class="content2_cards_main d-flex">
                    <div class="poster d-flex">
                        
                        <div class="counter d-flex">
                            <span>01</span><span>/10</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="title">
                            <span>Создание <br>
                                технического задания</span>
                        </div>
                        <div class="description">
                            <span>Составляем подробное <br>
                                описание функционала <br>
                                приложения</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2_navigator d-flex">
            <div class="content2_navigator_inner element d-flex">
                <div class="point">

                </div>
                <div class="line">

                </div>
            </div>
            <div class="content2_navigator_inner d-flex">
                <div class="point">

                </div>
                <div class="line">

                </div>
            </div>
            <div class="content2_navigator_inner d-flex">
                <div class="point">

                </div>
                <div class="line">

                </div>
            </div>
            <div class="content2_navigator_inner d-flex">
                <div class="point">

                </div>
                <div class="line">

                </div>
            </div>
            <div class="content2_navigator_inner d-flex">
                <div class="point">

                </div>
                <div class="line">

                </div>
            </div>
            <div class="content2_navigator_inner d-flex">
                <div class="point">

                </div>
                <div class="line">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let element = document.querySelectorAll(".content2_navigator_inner")
    let moveEl = document.querySelector('.content2_container')
    let previous = 0
    let lefter = 0

    $(function(){
        $('.content2_container').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          arrows:false,
          responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerPadding: '40px',
                        slidesToShow: 1,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerPadding: '40px',
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    })
    function startup(){
        function moveEvent(e){
            console.log(e)
            
            // moveEl.onmousemove = null
        }
        moveEl.addEventListener("click",(e)=>{
            moveEl.onmousemove = moveEvent
        })
    }
    document.addEventListener("DOMContentLoaded", startup());
    for(let x = 0;x < element.length;x++){
        element[x].addEventListener('click',()=>{
            element[previous].classList.remove('element')
            element[x].classList.add('element')
            lefter = previous < x?lefter+=720*(x-previous):lefter-=720*(previous-x)
            moveEl.style.right = `${lefter}px`
            previous = x
        })
    }
</script>