@import 'mixins'


@media (min-width: 220px) and (max-width: 720px)
    
    @include mediaMixin
    .header__slide__content__bottom
        padding: 0 5% !important
    .body 
        .block1
            .container >div
                padding: 0 5% !important
    .block2
        .container
            padding: 2%

        &__top
            &__content
                display: block !important
                padding: 2% 0 !important
                &__items
                    padding-top: 5%
                    .content
                        .content__title
                            padding: 2% 0 !important
        &__bottom
            padding-left: 5%
            padding-right: 5%
            &__iconSliders
                .images
        .background
            height: 20% !important
    .block3
        .back
            padding: 5% !important
    .block4
        overflow: hidden
        .container
            padding: 5% !important
    .block5
        overflow: hidden
        .container
            padding: 5% !important
    .block6
        overflow: hidden
        &__content
            display: block !important
            >div
                width: 100% !important
            >img
                display: none
    body 
        header,footer
            overflow: hidden !important
@media (min-width: 280px ) and ( max-width: 420px )
    @include mediaMixin
    .block3
        .back
            background: none !important
        &__content
            &__header
                align-items: center
                padding: 2% 0
    .block4

        .container
        &__content
            display: block !important
            &__project
                &__header
                    .pad
                        padding: 3% 0 !important
            &__achievements
                &__into
                    padding: 2% 0 !important
            >div
                width: 100% !important
    .block5
        .container
            padding: 15% 5% 5% 5% !important
        &__padder
            display: block !important
            padding: 0 !important
            >div
                width: 100% !important
                border: none !important
                padding: 2% 0% !important
                text-align: center
                .text
                    text-align: left !important
                .achievements
                    text-align: left !important
    .block6
        .container
            padding: 5% !important
        &__content
            &__search
                padding: 5% 0%
    .block7
        background: none !important
        background-color: #f2fcfc !important
        .container
            padding: 5% !important