@mixin background($x,$y,$img,$fixed)
    background-image: url($img)
    background-position: $x $y
    background-repeat: no-repeat
    @if $fixed
        background-attachment: fixed
    background-size: cover
    
@mixin absoluting($left,$right)
    position: absolute
    left: $left
    right: $right
    height: 100%
    display: flex
    align-items: center
    cursor: pointer

@mixin padding()
    @for $i from 1 through 9
        @if $i % 3 == 0
            .block5__blocks:nth-child($i)
                padding-right: 0 !important
                border: none !important
    
@mixin transition($s)
    transition: #{$s}
    -webkit-transition: #{$s}
    -moz-transition: #{$s}

@mixin mediaMixin
    .body
        .block1 
            .container
                display: block
                >div
                    width: 100% !important
                    padding: 0px 15px
            &__content
                padding: 0px 20px !important