@import "../../node_modules/bootstrap/scss/bootstrap.scss"

html
    box-sizing: border-box

@font-face 
    font-family: 'monstreat'
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format("truetype")
@font-face 
    font-family: 'monstreat-bold'
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format("truetype")

*,*::before,*::after
    box-sizing: inherit
    font-family: 'monstreat'
p
    margin:  0

body
    background-color: white
    margin: 0 auto
.container,.row
    height: 100%
@keyframes back-anim
    0%
        background-position-y: 500px
    100%
         background-position-y: 100px
.hideOverflow
    overflow: hidden
.background-class
    animation: 0.5s back-anim
    background-image: url('../img/hand.png')
    background-size: 50% 90%
    background-repeat: no-repeat
    background-position-x: 60%
    background-position-y: 100px
.main
    height: 100vh
    overflow-y: hidden 
    .all_content
        width: 100%
        flex-direction: column
        .logo,.imgs
            justify-content: center
            align-items: center
            height: 100%
        .logo2
            align-items: center
        .header 
            &-inner
                justify-content: space-between
                div
                    .button
                        padding: 10px 15px
                        cursor: pointer
                        background-color: #0055f9
                        color: white
                        border-radius: 7px
                        position: relative
                        border: 1px solid #0055f9
                        z-index: 1001
                        text-transform: uppercase
                        letter-spacing: 3px
                        font-family: 'monstreat-bold'
                        &:hover
                            background-color: white
                            color: #0055f9
                        
            .logo
                position: relative
                &:after
                    border-bottom: 2px solid rgb(153, 153, 153)
                    width: 20%
                    content: ""
                    position: absolute
                    bottom: 0
        .header,.footer
            flex: 0.5
        @keyframes anim
            0%
                top: -50px
            100%
                top: 0px
        .content
            flex: 3
            position: relative
            .main_page
                position: relative
                flex-direction: column
                height: 100%
                animation: anim 0.4s

                .content1
                    padding: 2% 0
                        width: 150px
                    .img
                        width: 20%
                        text-align: right
                &_title
                    font-size: 32px
                &_description
                    font-size: 15px
                    color: #999999
                .content2
                    padding: 2% 0  
                    height: 100%  
                    &_inner
                        justify-content: space-between
                        width: 70%
                        &_information
                            z-index: 1001
                            width: 30%
                            flex-direction: column
                            background-color: #e5eefe
                            border-radius: 7px
                            .inner
                                height: 100%
                                padding: 10px
                                border-bottom: 1px solid #d9e6fe
                                flex-direction: column
                                justify-content: center
                                p:nth-child(1)
                                    color: #0055f9
                                p:nth-child(2)
                                    font-family: 'monstreat-bold'
                        form
                            width: 60%
                            .info
                                font-size: 12px
                                color: gray
                                text-align: center
                            p
                                margin: 2% 0
                            textarea
                                height: 140px
                            input,textarea
                                padding: 10px 15px
                                outline: none
                                font-size: 13px
                                border-radius: 6px
                                border: 1px solid lightgray
                                width: 100%
                                &[type=submit]
                                    border: none 
                                    background-color: #0055f9
                                    color: white
                                    text-transform: uppercase
                                    letter-spacing: 2px
                                    font-size: 13px
                    &_imageContainer
                        max-height: 420px
                        overflow-y: scroll
                        justify-content: space-between
                        &_row:nth-child(2)
                            padding-top: 10%
                        &_row:nth-child(3)
                            padding-top: 5%
                        &_row
                            flex-direction: column
                            div
                                margin-bottom: 5%
                                img
                                    border-radius: 10px
                    &_container
                        height: 85%
                        max-height: 400px 
                        // width: 1000px
                        cursor: pointer
                        user-select: none
                        overflow: hidden
                        transition: 0.4s
                        right: 0px
                        position: relative
                    &_cards
                        height: 100%
                        width: 500px
                        display: inline-block
                        margin: 0 15px 0 0
                        &_main
                            flex-direction: column
                            height: 100%
                            width: 240px
                            .poster
                                height: 20%
                            .text
                                height: 100%
                            .poster
                                justify-content: space-between
                                .counter
                                    span
                                        font-size: 20px
                                        font-family: 'monstreat-bold'
                                        &:nth-child(1)
                                            color: #0055f9
                                        &:nth-child(2)
                                            color: #cbcbcb
                                div
                                    align-items: center
                                    img
                                        height: 200px
                            .text
                                .title
                                    margin: 2% 0
                                    span
                                        font-family: 'monstreat-bold' !important
                                .description
                                    background-color: #e5eefe
                                    border-radius: 7px
                                    padding: 10px 15px
                                    span
                                        font-size: 14px
                    .absolute-content
                        position: absolute
                        bottom: 20px
                        background-color: #e5eefe
                        padding: 3%
                        right: 0px
                        border-radius: 5px
                        img
                            position: absolute
                            left: 0
                            top: -20%
                            width: 50px
                    &_navigator
                        height: 15%
                        padding: 10px 0
                        .element
                            .point
                                background-color: #0055f9
                            .line
                                background-color: #0055f9
                        &_inner
                            width: 20%
                            align-items: center
                            cursor: pointer
                            .point
                                width: 13px
                                height: 13px
                                background-color: #e5eefe
                                border-radius: 100%
                            .line
                                width: 70%
                                margin-left: 5%
                                height: 2px
                                background-color: #e5eefe

                    &_post
                        height: 50%
                        flex-direction: column
                        justify-content: center
                        margin: 10px 0
                        width: 35%
                        &:nth-child(2)
                            border-top: 2px solid lightgray
                        p
                            font-size: 19px
                            text-decoration: underline
                            text-decoration-color: black
                            margin: 10px 0
                    &_containers
                        overflow-x: scroll
                        height: 100%
                        width: 1098px
                        &_card
                            margin: 0 10px
                        &_card:nth-child(1)
                            width: 200px
                        .card1
                            align-items: center
                            text-align: center
                            justify-items: center
                            .button
                                padding: 10% 7%
                                border-radius: 30px
                                border: 3px solid #0154f7
                                display: inline-block
                            p
                                text-decoration: underline
                                cursor: pointer
                                text-decoration-color: black
                            
        .content
            &_inner
                padding-top: 2%
                height: 100%
            .imgs
                flex-direction: column
                .active
                    fill: #0055f9
                svg
                    height: 25%
                    transition: 0.3s
                    cursor: pointer
                    &:hover
                        fill: #0055f9
        
@media screen and ( max-width:  650px)
    .content2 
        &_post
            width: 100% !important
            height: 30% !important
    .background-class
        background: none
    .content1 
        .content
            h2
                font-size: 28px !important
    .main
        overflow-y: scroll
        .header
            flex: none !important
            height: 150px
            .logo
                display: none !important
            .logo2
                flex-direction: column
                justify-content: space-around
                align-items: start
                width: 100%
    .content2
        &_inner
            flex-direction: column
            width: 100% !important
            div,form
                width: 100% !important
        iframe
            bottom: 0
            top: auto !important
            height: 30%  !important
            position: relative !important
            left: 0
            right: auto !important
            width: 100% !important
    .content
        flex-direction: column-reverse
        .imgs
            flex-direction: row !important
            box-shadow: 0 0 10px rgba(0,0,0,0.1)
            height: auto !important
            justify-content: space-between !important
            position: fixed
            left: 0
            padding: 5%
            bottom: 0
            background-color: white
            width: 100%
            z-index: 1012
            svg
                width: 25px
@media screen and ( max-width:  480px)
    .absolute-content
        display: none
    .content1
        .img
            display: none
    .content2
        &_container
            height: 50% !important
        &_navigator
            height: 50% !important
        &_imageContainer
            &_row
                margin: 0 3%
        &_containers
            width: 100% !important
            flex-direction: column-reverse
            justify-content: space-between
            
            &_card
                margin: 2% 0 !important
                height: 100%
                img
                    height: 300px
            .card1
                width: 100% !important
                text-align: center
                justify-content: space-around
                .button
                    padding: 2% !important
                    img
                        height: auto !important